body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
}
.gallery .descpriction{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid hsl(0, 0%, 20%);
}
